<app-player
  *ngFor="let player of game.players; let i = index;"
  [ngStyle]="{ 'top.px': 100 + (i * 90) }"
  [playerActive]= "i == game.currentPlayer"
  [name]= "player"
  style="top: 130px"
  class="player-position"
></app-player>

<div class="field">
  <div class="card-stack">
    <!--
      Card Stack
      [ngStyle] = new Style Propertie (same ass css class), {} = (postion).(value) right.px: i = array count 1px, 2px, 3px
      ngfor = for-loop, c = Variable, [] = array => Repeat 5x img-Tag
    -->
    <img
    *ngFor="let c of [0, 1, 2, 3]; let i = index"
    [ngStyle]="{ 'right.px': i * 5 }"
      src="assets/img/cards/card_cover.png"
      alt="card-cover"
    />

    <!--
      First Stack Card 
      (click) = onCLick function 
    -->
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="assets/img/cards/card_cover.png"
      alt="card-cover"
    />

    <!-- 
      Stack for played cards
     -->
    <img
      *ngFor="let card of game.playedCard"
      class="playerd-card"
      src="assets/img/cards/{{ card }}.png"
      alt="card"
    />

    <!-- 
      Current card animation
      ngIf = if condition, [class.selection] = requirement 
      [class.pick-card]="game.pickCardAnimation"
    -->
    <img
      (click)="takeCard()"
      *ngIf="game.pickCardAnimation"
      [class.pick-card]="game.pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="assets/img/cards/{{ game.currentCard }}.png"
      alt="current-card"
    />
  </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
