<div class="field">
  <div class="card-stack">
    <!--
      Card Stack
      [ngStyle] = new Style Propertie (same ass css class), {} = (postion).(value) right.px: i = array count 1px, 2px, 3px
      ngfor = for-loop, c = Variable, [] = array => Repeat 5x img-Tag
    -->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="/assets/img/cards/card_cover.png"
      alt="card-cover"
    />

    <!--
      First Stack Card 
      (click) = onCLick function 
    -->
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
      alt="card-cover"
    />

    <!-- 
      Stack for played cards
     -->
    <img
      *ngFor="let card of game.playedCard"
      class="playerd-card"
      src="/assets/img/cards/{{ card }}.png"
      alt="card"
    />

    <!-- 
      Current card animation
      ngIf = if condition, [class.selection] = requirement 
    -->
    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      [class.pick-card]="pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="/assets/img/cards/{{ currentCard }}.png"
      alt="current-card"
    />
  </div>
</div>
