.player-position{
  position: absolute;
  right: 0;
}

.field{
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  background-image: url(/assets/img/board.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack{
  position: relative;
  img{
    position: absolute;
    width: 200px;
  }
}

.top-card{
  cursor: pointer;
  transition: all ease-in-out 125ms;
  &:hover{
    transform: scale(1.1);
  }
}

.playerd-card{
  right: 25px;
  transform: scale(1) translateX(180px) translateY(-320px) rotate(15deg);
}

.pick-card{
  transition: all ease-in-out 125ms;
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1) translateX(180px) translateY(-320px) rotate(15deg);
}

@keyframes pick-card-animation{
  0%{
    transform: scale(1);
  }
  20%{
    transform: scale(1.5);
  }
  60%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1) 
    translateX(180px) 
    translateY(-320px)
    rotate(15deg);
  }
}